
/* ==========================================================================
   Variables Section
   ========================================================================== */
	



/* Common Colors
   ========================================================================== */
$deep-blue:   #0c222b;

$bgcolor:  		#fbfaf3; //body bg-color - Cream

$gray:  	 		#444;
$l-gray:  	 	#dcdcdc;
$ll-gray:     #999;
$white:       #fff;

$footer-grey: #a5aeb1;
$footer-grey-border: #32434a;


$html-text-color: $gray;
$footer-text-color: $footer-grey;





/* Padding
   ========================================================================== */
$xs-pad: 		.25em;
$s-pad: 		.5em;
$m-pad: 		1em;
$l-pad: 		1.5em;
$xl-pad: 		2.5em;
$xxl-pad: 	3em;
$xxxl-pad:  4.5em;





/* Max Width
   ========================================================================== */
$max-width: 1170px;
$small-max-width: 900px;